* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #F1F1F1;
    font-family: 'RR', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    margin: 0 auto;
}

.btn {
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    font-family: 'RR';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    transition: 0.3s;

}

.btn:hover {
    background: #2A86B1;
}