.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100vh;
    padding: 30px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
}

.nav__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.nav:hover {
    width: 234px;
}

.logo {
    font-size: 60px;
    color: #2A86B1;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
    margin-left: 15px;
}

.menu__link {
    color: #939393;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.menu__link:hover {
    color: #2A86B1;
}

.link__span {
    font-family: 'RR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.menu__item:nth-child(3) .menu__link {
    font-size: 45px;
}

.menu__item:nth-child(4) .menu__link {
    font-size: 45px;
}